/*토론 메인 페이지*/

.topBtn {
    display: flex;
    width: 700px;
    padding: 12px 4px;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.whiteBtn.active {
    border-radius: 10px;
    background: var(--primary, #3E66E8);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 32px;
}

.whiteBtn {
    border-radius: 10px;
    border: 1px solid var(--gray-2, #A0A0A0);
    background: var(--gray-white, #FFF);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    width: 60px;
    height: 32px;
}

.whiteBtn:nth-child(5) {
    width: 100px;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    height: 920px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#debate-index {
    width: 1194px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--gray-1, #EFEFEF);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.textIndex {
    color: var(--text-main, #232527);
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

#debate-list {
    width: 1194px;
    height: 72px;
    border-radius: 20px;
    background-color: rgba(62, 102, 232, 1);
    color: var(--text-white, #FFF);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.textList {
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.white-bg {
    background: var(--gray-1, #EFEFEF);
    color: var(--text-main, #232527);
    width: 1194px;
    height: 72px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.writeBtn {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    margin-bottom: 5%;

}

.writeBtn>button {
    width: 174px;
    padding: 16px 53px;
    border-radius: 10px;
    border: 1px solid var(--gray-2, #A0A0A0);
    background: var(--gray-white, #FFF);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: var(--text-main, #232527);
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
}
