.line14 {
    stroke-width: 8px;
    stroke: var(--primary, #3E66E8);
    transform: translate(186px, -13px);
}


.nextPage {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.nowPage {
    display: flex;
    padding: 4px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--primary, #3E66E8);
    color: var(--text-white, #FFF) !important;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.nextPage>span {
    display: flex;
    padding: 4px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    color: var(--text-main, #232527);
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
