.container {

}
.items {
    display: flex;
    margin-top: 106px;
    margin-bottom: 32.86px;
}
.items img {
    margin: auto;
}

.container .title {
    color: #2A2A2A;
    font-family: Noto Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.subtitle{

}
.Debate {
    display: flex;
}
.A {
    float: left;
    flex:1;
    margin: 3%;
    margin-top: 64px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    background: var(--gray-1, #EFEFEF);
    transition: all 0.3s ease;
    overflow: hidden;   
}

.A:hover {
    background: var(--primary, #3E66E8);
    -webkit-transform: scale(1);
    transform: scale(1); 
    transition: all 0.1s ease;
  }

.A img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
    margin-top: 67px;
    margin-bottom: 14px;
}
.A .text{
    color: #2A2A2A;
    text-align: center;
    font-family: Noto Sans;
    line-height: normal;
}
.A:hover .text{ 
    color: white; 
    font-weight: bold;
}
.A .text h1{
    margin-top: 14px;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}
.A .text h4{
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 56px;
}
.A .text div{
    color: #7E7E7E;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    margin: 14px;
}
.A .text:hover div{
    color: white; 
    font-weight: bold;
}

.B {
    float: left;
    flex:1;
    margin: 3%;
    margin-top: 64px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    background: var(--gray-1, #EFEFEF);
    transition: all 0.3s ease;
    overflow: hidden;
}

.B:hover {
    background: var(--primary, #3E66E8);
    -webkit-transform: scale(1);
    transform: scale(1); 
    transition: all 0.3s ease;
  }

.B img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
    margin-top: 67px;
    margin-bottom: 14px;
}
.B .text{
    color: #2A2A2A;
    text-align: center;
    font-family: Noto Sans;
    line-height: normal;
}
.B:hover .text{ 
    color: white; 
    font-weight: bold;
}
.B .text h1{
    margin-top: 14px;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}
.B .text h4{
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 56px;
}
.B .text div{
    color: #7E7E7E;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    margin: 14px;
}

.B .text:hover div{
    color: white; 
    font-weight: bold;
}


.C {
    float: right;
    flex: 1;
    margin: 3%;
    margin-top: 64px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    background: var(--gray-1, #EFEFEF);
    transition: all 0.3s ease;
    overflow: hidden;
}

.C:hover {
    background: var(--primary, #3E66E8);
    background: linear-gradient(0deg, rgba(62,102,232,1) 0%);
    -webkit-transform: scale(1);
    transform: scale(1); 
    transition: all 0.3s ease;
  }
.C img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
    margin-top: 67px;
    margin-bottom: 14px;
}
.C .text{
    color: #2A2A2A;
    text-align: center;
    font-family: Noto Sans;
    line-height: normal;
}
.C:hover .text{ 
    color: white; 
    font-weight: bold;
}
.C .text h1{
    margin-top: 14px;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}
.C .text h4{
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 56px;
}
.C .text div{
    color: #7E7E7E;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    margin: 14px;
}

.C .text:hover div{
    color: white; 
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
}

header {
    border-bottom: 2px solid lightgray;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
}

.nav-bar {
    display: flex;
}

.logo {
    margin-right: 20px;
    font-weight: bold;
}

ul {
    padding: 0;
    margin: 0;
    width: 30vh;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.right-bar {
    width: 40vh;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

form {
    display: flex;
    margin-left: -10px;
}

input {
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 2px 2px 1px gray;
    height: 25px;
    align-items: center;
}

i {
    position: absolute;
    margin-left: 145px;
    margin-top: 7px;
    color: darkgray;
}

/*메인 페이지, 토론 메인 페이지 만들어오기
구현 할 기능 : 메인 페이지에 서 토론 박스에 마우스 올리면 파란색으로 표시
버튼 누르면 토론 메인 페이지로 이동
헤더 부분에서는 로고 누르면 다시 메인 페이지로 이동
검색 기능? 보류
로그인, 회원가입 누르면 로그인 페이지로 이동
작성자와 참여자에게 다른 페이지 노출 필요

