/* Login */
.loginbar{
    border-radius: 20px;
    background: var(--gray-1, #EFEFEF);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 48px 72px;
    flex-direction: column;
    display: flex;
    margin: 0% auto;
    gap: 15px;
    margin-top: 64px;
    width: 582px; 
    height: 406px;
}

.loginbar .text{
    color: var(--text-main, #232527);
    /* S1 */
    font-family: Noto Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;

}

.loginbar .account{
    border-radius: 20px;
    background: var(--gray-white, #FFF);
    box-shadow: none;
    border: none;
    width: 438px; 
    height: 72px;
    
}

#login-form-submit {
    display: flex;
    width: 174px;
    height: 56px;
    padding: 16px 53px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--gray-2, #A0A0A0);
    background: var(--gray-white, #FFF);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 24px;
    font-size: 18px;
}


.join{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 64px;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


.join :nth-child(1){
    color: var(--text-main, #232527);
    font-family: Noto Sans;
    margin-right: 24px;
}

.join :nth-child(2){
    color: var(--primary, #3E66E8);
    font-family: Noto Sans;
    text-decoration-line: underline;
}


/* index */
.container {

}
.items {
    display: flex;
    margin-top: 106px;
    margin-bottom: 32.86px;
}
.items svg {
    margin: auto;
    display: flex;
}

.container .title{
    color: #2A2A2A;
    /* H2 */
    font-family: Noto Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin: auto;
    text-align: center;
}

.subtitle{

}
.Debate {
    display: flex;
}
.Debate button {
    display: inline-flex;
    padding: 16px 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--gray-2, #A0A0A0);
    background: var(--gray-white, #FFF);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 234px;
    height: 52px;
    font-size: 20px;
    margin-left: 72px;
    margin-top: 70px;
    margin-right: 72px;

}
.A {
    float: left;
    flex:1;
    margin: 0%;
    margin-top: 64px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    background: var(--gray-1, #EFEFEF);
    transition: all 0.3s ease;
    overflow: hidden;   
}

.A svg{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
    margin-top: 67px;
    margin-bottom: 26.5px;

}

.A .text{
    text-align: center;
    font-family: Noto Sans;
    line-height: normal;
    color: #2A2A2A;
}

.A .text h1{
    margin-top: 14px;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin: auto;
}
.A .text h4{
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 56px;
}
.A .text div{
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    margin: 14px;
    color: #7E7E7E;
}

.A:hover{
    background: var(--primary, #3E66E8);   
    transform: scale(1); 
    transition: all 0.1s ease;

  }

  .A:hover .text{ 
    color: white; 
    font-weight: bold;
}

.A .text:hover div{
    color: white; 
    font-weight: bold;
}

.B {
    float: left;
    flex:1;
    margin: 2%;
    margin-top: 64px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    background: var(--gray-1, #EFEFEF);
    transition: all 0.3s ease;
    overflow: hidden;
}

.B:hover {
    background: var(--primary, #3E66E8);
    transform: scale(1); 
    transition: all 0.3s ease;
  }

.B svg{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
    margin-top: 67px;
    margin-bottom: 26.5px;
}
.B .text{
    color: #2A2A2A;
    text-align: center;
    font-family: Noto Sans;
    line-height: normal;
}

.B:hover .text{ 
    color: white; 
    font-weight: bold;
}
.B .text h1{
    margin-top: 14px;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin: auto;
}
.B .text h4{
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 56px;
}
.B .text div{
    color: #7E7E7E;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    margin: 14px;
}

.B .text:hover div{
    color: white; 
    font-weight: bold;
}


.C {
    float: right;
    flex: 1;
    margin: 0%;
    margin-top: 64px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    background: var(--gray-1, #EFEFEF);
    transition: all 0.3s ease;
    overflow: hidden;
}

.C:hover {
    background: var(--primary, #3E66E8);
    background: linear-gradient(0deg, rgba(62,102,232,1) 0%);
    transform: scale(1); 
    transition: all 0.3s ease;
  }
.C svg{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
    margin-top: 67px;
    margin-bottom: 26.5px;
}
.C .text{
    color: #2A2A2A;
    text-align: center;
    font-family: Noto Sans;
    line-height: normal;
}
.C:hover .text{ 
    color: white; 
    font-weight: bold;
}
.C .text h1{
    margin-top: 14px;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin: auto;
}
.C .text h4{
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 56px;
}
.C .text div{
    color: #7E7E7E;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    margin: 14px;
}

.C .text:hover div{
    color: white; 
    font-weight: bold;
}

/*메인페이지*/

body {
    padding: 0;
    margin: 0;
}

header {
    border-bottom: 2px solid lightgray;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 3%;
    
}

ul {
    padding: 0;
    margin: 0;
    width: 30vh;
    list-style: none;
    display: flex;
    justify-content: space-between;
}



.right-bar {
    width: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.search {
    position: relative;
    display: inline-block;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 2px 2px 1px gray;
}

.searchInput {
    display: inline-block;
    width: 80%;
    height: 80%;
    border: none;
    padding-left: 10px;
    font-size: 12px;
    line-height: 38px;
    box-sizing: border-box;
}

i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: darkgray;
    font-size: 16px;
}

.login {
    justify-content: center;
}

.membership {
    justify-content: flex-end;
}

@media screen and (max-width: 800px) {
    body{
        font-size: 14px;
    }

    input {
        width: 60%;
        height: 60%;
    }
    
}

@media screen and (min-width: 800px) {
    body {
        font-size: 16px;
    }

    .wrapper {
        margin: 1%;
    }
}

/*회원가입 페이지*/
.frame31 {
    display: flex;
    padding: 48px 102px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.block {
    border-radius: 20px;
    background: var(--gray-1, #EFEFEF);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    width: 786px;
    height: 1072px;
    
}

.h1_membership {
    display: flex;
    justify-content: center;
}

h1 {
    color: var(--text-main, #232527);
    font-family: Noto Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.membershipForm {
    display: flex;
    flex-direction: column;
    padding: 48px 72px;
}

.membershipText {
    color: var(--text-main, #232527);
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}


.membershipText>input {
    display: flex;
    width: 582px;
    height: 22px;
    padding: 24px 20px;
    align-items: center;
    border-radius: 20px;
    border: none;
    background: var(--gray-white, #FFF);
    margin-top: 2%;
    font-size: 20px;
    
}

.star {
    color: var(--secondary, #EB6962);
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.redHidden {
    color: var(--text-warning, #DA0000);
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    display: none;
}

#membership-submit {
    display: flex;
    padding: 16px 80px;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

#membership-submit>button {
    width: 234px;
    height: 52px;
    border-radius: 10px;
    border: 1px solid var(--gray-2, #A0A0A0);
    background: var(--gray-white, #FFF);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--text-main, #232527);
    text-align: center;
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    cursor: pointer;
}

.complete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 753px;
    align-items: center;
}

.checkImg {
    display: block;
    width: 240px;
    height: 240px;
    align-self: center;
}

.complete p {
    color: #000;
    text-align: center;
    font-family: Noto Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

/*mainsubject*/

.editor{
    width: 1033px;
    border-radius: 20px;
    background: var(--gray-1, #EFEFEF);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 48px 80px;
    margin: auto;
    margin-top: 48px;
    align-items: center;
    flex-direction: column;

}

.editor .category{
    width: 170px;
    height: 68px;
    padding: 22px 22px;
    gap: 72px;
    border-radius: 20px;
    background: var(--gray-white, #FFF);
    float: left;
    border: none;
    margin-right: 30px;
    /**/
    color: var(--text-main, #232527);
    /* S2 */
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */

}

.editor .editortitle{
    padding: 24px 22px 24px 22px;
    width: 742px;
    height: 26px;
    gap: 10px;
    border-radius: 20px;
    background: var(--gray-white, #FFF);
    float: left;
    border: none;
    margin-bottom: 30px;
   /*text*/
    color: var(--text-unactive, #A0A0A0);

    /* B1_long */
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
}

.editor .debate-Date{
    float: left;
    width: 130px;
    height: 20px;
    padding: 24px 22px;
    align-items: center;
    gap: 72px; 
    border-radius: 20px;
    background: var(--gray-white, #FFF);
    margin-right: 31px;
    color: var(--text-main, #232527);
    /* S2 */
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
    
}

.editor .date-Detail {
    float: left;
    padding: 24px 22px 24px 22px;
    width: 742px;
    height: 26px;
    gap: 10px;
    border-radius: 20px;
    background: var(--gray-white, #FFF);
    border: none;
    margin-bottom: 30px;
    align-items: center;
   /*text*/
    color: var(--text-unactive, #A0A0A0);
    /* B1_long */
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
}
.editor .detail {
    display: flex;
    width: 241px;
    padding: 24px 727px 420px 22px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 20px;
    /*text*/
    color: var(--text-unactive, #A0A0A0);
    /* B1_long */
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
}

.editor .Select-img{
    float: left;
    width: 116px;
    height: 20px;
    padding: 24px 22px;
    align-items: center;
    gap: 72px; 
    border-radius: 20px;
    background: var(--gray-white, #FFF);
    /**/
    color: var(--text-main, #232527);
    /* S2 */
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
    
}
#input-file {
    display: none;
}


.editor .url-Linked {
    float: left;
    padding: 24px 22px 24px 22px;
    width: 742px;
    height: 26px;
    gap: 10px;
    border-radius: 20px;
    background: var(--gray-white, #FFF);
    border: none;
    margin-bottom: 30px;
    margin-top: 32px;
    /*text*/
    color: var(--text-unactive, #A0A0A0);
    /* B1_long */
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    margin-right: 100px;
}

/*bottom*/
.bottom {
    height: 80px;
    flex-shrink: 0;
    background: var(--gray-1, #EFEFEF);
    margin-top: 48px;
    
    
}
.bottom svg{
    margin-left: 360px;
    margin-top: 12px;

}

.bottom span {
    color: var(--text-main, #232527);
    /* B1 */
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
    /* 20px */
    margin: 30px 108px;

}

#debate-form-submit{
    display: flex;
    width: 174px;
    height: 56px;
    padding: 16px 53px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--gray-2, #A0A0A0);
    background: var(--gray-white, #FFF);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-left: 400px;
    font-size: 18px;
    cursor: pointer;
}

/*토론 메인 페이지*/
.line14 {
    stroke-width: 8px;
    stroke: var(--primary, #3E66E8);
    transform: translate(186px, -13px);
}

.topBtn {
    display: flex;
    width: 700px;
    padding: 12px 4px;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.whiteBtn.active {
    border-radius: 10px;
    background: var(--primary, #3E66E8);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 32px;
}

.whiteBtn {
    border-radius: 10px;
    border: 1px solid var(--gray-2, #A0A0A0);
    background: var(--gray-white, #FFF);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    width: 60px;
    height: 32px;
}

.whiteBtn:nth-child(5) {
    width: 100px;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    height: 920px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#debate-index {
    width: 1194px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--gray-1, #EFEFEF);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.textIndex {
    color: var(--text-main, #232527);
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

#debate-list {
    width: 1194px;
    height: 72px;
    border-radius: 20px;
    background-color: rgba(62, 102, 232, 1);
    color: var(--text-white, #FFF);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.textList {
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
.white-bg {
    background: var(--gray-1, #EFEFEF);
    color: var(--text-main, #232527);
    width: 1194px;
    height: 72px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.writeBtn {
    display: flex;
    justify-content: flex-end;
    margin-right: 8%;
    margin-bottom: 5%;
    
}

.writeBtn>button {
    width: 174px;
    padding: 16px 53px;
    border-radius: 10px;
    border: 1px solid var(--gray-2, #A0A0A0);
    background: var(--gray-white, #FFF);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: var(--text-main, #232527);
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
}
/**/
