/*bottom*/
.bottom {
    
    margin-top: 100px;
    display: flex;
    height: 80px;
    padding: 18px 300px 18px 300px;
    align-items: center;
    gap: 32px;
    background: var(--gray-1, #EFEFEF);

    
}

.bottom .maintext {
    height: 44px;
    align-items: center;

   

}
.bottom svg {

}
.bottom .maintext a{
    color: var(--text-sub, #444);

    /* Sm1_bold */
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14px */
}
.bottom .maintext :nth-child(3){
    color: var(--text-main, #232527);

    /* Sm2 */
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
}

