
/*회원가입 페이지*/
.frame31 {
    display: flex;
    padding: 48px 102px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.block {
    border-radius: 20px;
    background: var(--gray-1, #EFEFEF);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    width: 786px;
    height: 1158px;
    margin-top: 100px;
    
}

.h1_membership {
    display: flex;
    justify-content: center;
}

h1 {
    color: var(--text-main, #232527);
    font-family: Noto Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.membershipForm {
    display: flex;
    flex-direction: column;
    padding: 48px 72px;
}

.membershipText {
    color: var(--text-main, #232527);
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}


.membershipText>input {
    display: flex;
    width: 582px;
    height: 22px;
    padding: 24px 20px;
    align-items: center;
    border-radius: 20px;
    border: none;
    background: var(--gray-white, #FFF);
    margin-top: 2%;
    font-size: 20px;
    
}

.star {
    color: var(--secondary, #EB6962);
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.redHidden {
    color: var(--text-warning, #DA0000);
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    display: none;
}

.redBorder {
    border: 2px solid var(--warning, #DA0000) !important;
}

#membership-submit {
    display: flex;
    padding: 16px 80px;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

#membership-submit>button {
    width: 234px;
    height: 52px;
    border-radius: 10px;
    border: 1px solid var(--gray-2, #A0A0A0);
    background: var(--gray-white, #FFF);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--text-main, #232527);
    text-align: center;
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    cursor: pointer;
}

.complete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 753px;
    align-items: center;
}

.selectWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.termsofUse {
    display: flex;
    height: 64px;
    align-items: center;
    gap: 16px;
}

.termsofUse>input {
    display: flex;
    padding: 8px 16px 8px 0px;
    flex-direction: column;
    align-items: flex-start;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 10px;
    background: var(--gray-white, #FFF);
}

.termsofUse>p {
    color: var(--text-main, #232527);

    /* B1 */
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
}

.termsofUse>a {
    color: var(--primary, #3E66E8);
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    text-decoration-line: underline;
}

.privacy {
    display: flex;
    height: 64px;
    align-items: center;
    gap: 16px;
}

.privacy>input {
    display: flex;
    padding: 8px 16px 8px 0px;
    flex-direction: column;
    align-items: flex-start;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 10px;
    background: var(--gray-white, #FFF);
}

.privacy>p {
    color: var(--text-main, #232527);

    /* B1 */
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
}

.privacy>a {
    color: var(--primary, #3E66E8);
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    text-decoration-line: underline;
}
